<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- import Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- import element CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <!-- import element JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <!-- import user options -->
    <script src="./js/options.js"></script>
    <!-- import user functions -->
    <script src="./js/filter.js"></script>
    <title>poke search</title>
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>宝可梦速查</h1>
        </div>
        <div class="input">
            <div class="line">
                <span class="label">对方属性:</span>
                <el-select style="width: 100px;" v-model="selected.enemy_type.type_1">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.enemy_type.type_2">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.enemy_type.type_3">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.enemy_type.type_4">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
            </div>
            <div class="line">
                <span class="label">我方属性:</span>
                <el-select style="width: 100px;" v-model="selected.my_type.type_1">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.my_type.type_2">
                    <el-option v-for="item in options_list.type_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
            </div>
            <div class="line">
                <span class="label">指定技能:</span>
                <el-select style="width: 100px;" v-model="selected.skill.skill_1">
                    <el-option v-for="item in options_list.skill_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.skill.skill_2">
                    <el-option v-for="item in options_list.skill_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.skill.skill_3">
                    <el-option v-for="item in options_list.skill_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.skill.skill_4">
                    <el-option v-for="item in options_list.skill_list" :label="item" :value="item">{{item}}</el-option>
                </el-select>
            </div>
            <div class="line">
                <span class="label">克制条件:</span>
                <el-select style="width: 100px;" v-model="selected.multi.atk">
                    <el-option v-for="item in options_list.atk_multi" :label="item" :value="item">{{item}}</el-option>
                </el-select>
                <el-select style="width: 100px;" v-model="selected.multi.dfs">
                    <el-option v-for="item in options_list.dfs_multi" :label="item" :value="item">{{item}}</el-option>
                </el-select>
            </div>

            <div class="line">
                <el-button @click="go_search">搜索</el-button>
            </div>


        </div>
        <div class="output">
            {{result}}
        </div>
    </div>
    </div>
    <script>
        const App = {
            data() {
                return {
                    // 选项列表
                    options_list: options_list,
                    selected: selected,
                    // 查询结果
                    result: ""
                };
            },
            methods: {
                go_search: function () {
                    console.log("!")
                    this.result = search()
                    console.log(this.result)
                    alert("敬请期待")
                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</body>
<style lang="scss">
    div#app {
        height: 100%;
        text-align: center;
    }

    /* 标签文本 */
    span.label {
        padding: 10px;
    }

    /* 单行 */
    div.line {
        padding: 10px;
    }
</style>

</html>